<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Hotel.mapper.CompanyMapper">
	<!-- 승인이 되지 않은 company 모두 selete -->
	<select id="a_approveJoin" resultMap="company">
		SELECT * FROM COMPANY WHERE CMCHECK = 0
	</select>

	<!-- 거절을 누르면 cmcheck를 0로 update -->
	<update id="comDecline" parameterType="String">
		UPDATE COMPANY SET CMCHECK = 0 WHERE CMCODE = #{cmcode}	
	</update>

	<!-- 승인을 누르면 cmcheck를 1로 update -->
	<update id="comApprove" parameterType="String">
		UPDATE COMPANY SET CMCHECK = 1 WHERE CMCODE = #{cmcode}	
	</update>
	
	<select id="AdminLogin" resultType="String">
		SELECT CMID FROM COMPANY WHERE CMID=#{cmid} AND CMPASSWORD=#{cmpassword}
	</select>
	
	<!-- 추가 -->
	<select id="salesList" resultMap="date" parameterType="String">
		SELECT TO_CHAR(B.DT, 'YYYY-MM') AS BDRAWUP
				, NVL(SUM(BPRICE),0) BPRICE
		FROM (SELECT TO_CHAR(BDRAWUP, 'YYYY-MM-DD') AS
				BDRAWUP, SUM(BPRICE) BPRICE
				FROM BOOKING, HOTEL
				WHERE HOCODE = B_HOCODE 
				AND BDRAWUP BETWEEN TO_DATE(#{firstDateFormat}, 'YYYY-MM-DD')
				AND TO_DATE(#{lastDateFormat}, 'YYYY-MM-DD')
				AND HO_CID = #{loginId}
				GROUP BY BDRAWUP) A
			, (SELECT TO_DATE(#{firstDateFormat},'YYYY-MM-DD') + LEVEL -1 AS DT
				FROM DUAL
				CONNECT BY LEVEL &lt;= (TO_DATE(#{lastDateFormat},'YYYY-MM-DD')- TO_DATE(#{firstDateFormat},'YYYY-MM-DD') + 1)
				)B
		WHERE B.DT = A.BDRAWUP(+)
		GROUP BY TO_CHAR(B.DT, 'YYYY-MM')
		ORDER BY TO_CHAR(B.DT, 'YYYY-MM')
	</select>
	
	<resultMap type="com.Hotel.dto.CompanyDTO" id="company">
		<result property="cmcode" column="CMCODE"/>
		<result property="cmid" column="CMID"/>
		<result property="cmpassword" column="CMPASSWORD"/>
		<result property="cmname" column="CMNAME"/>
		<result property="cmphone" column="CMPHONE"/>
		<result property="cmemail" column="CMEMAIL"/>
		<result property="cmaddress" column="CMADDRESS"/>
		<result property="cmcheck" column="CMCHECK"/>
	</resultMap>
	
	<resultMap type="map" id="date">
		<result property="bprice" column="BPRICE"/>
		<result property="cnt" column="CNT"/>
	</resultMap>
</mapper>